 $DarkBlueColor:rgb(15,52,96);
// $DarkBlueColor:rgb(29, 70, 120);
$lightBlueColor:rgb(142, 158, 174);
$graycolor:#f6f9fc;
/* HEADER START */
.header{
    .link{
        text-decoration: none;
        color: black;
    }
    
}
/* HEADER ENDS */

/* footer starts */
.footer{
    background-color: $DarkBlueColor;
    color: white;
    .text{
        color:$lightBlueColor;
    }
.heights{
    height: 5rem;
    background-color: $DarkBlueColor;
}

    
}
/* footer ends */

/* home start */
.home{
 
}
/* home ends */

/* componnet carousel start */
.carousel{
    .slider{
        height: 36rem;
        background-color:$graycolor;
    }
    .title{
        font-size: 5vw;
        font-weight: 500;
    }
   
}
/* componnet carousel end */

/* cards component start */
.cards{
    .cardWidth{
        width: 20em;
    }
    .icons{        
        border-radius: 100%;
    }

}
/* cards component end */